# Jupyter Notebook checkpoints (matches all checkpoint folders anywhere in the repo)
.ipynb_checkpoints/

# Data directories (matches any 'data' directory at root or inside subprojects)
data/

# Generated figures
figures/

/data/scratch/kvalem/projects/2021/prj-honda/01_bacterial_products/004_tumor_single_cell_cd8_t_cell/results/
/data/scratch/kvalem/projects/2021/prj-honda/01_bacterial_products/002_serum_flow_cytometry/*
/data/scratch/kvalem/projects/2021/prj-honda/01_bacterial_products/005_metabolites/*
