resume = true

params {
    input = "../tables/samplesheet_rnaseq_10mix_11mix_b1_b2.csv"
    outdir = "/data/projects/2021/MicrobialMetabolites/bacterial-supernatant/10_rnaseq_pipeline"
    gtf = "/data/genomes/mm39/annotation/gencode/gencode.vM27.primary_assembly.annotation.gtf"
    fasta = "/data/genomes/mm39/fasta/gencode/GRCm39.genome.fa"
    star_index = "/data/genomes/mm39/index/STAR/2.7.9a/gencode/gencode.vM27.primary_assembly/200/"
    publish_dir_mode = 'copy'
}

process {
  withName:SALMON_QUANT {
     ext.args = "--noLengthCorrection"
  }
}

