resume = true
params.cpus = 16
params.resultDir = "/data/scratch/kvalem/projects/2021/honda_microbial_metabolites_2021/20_scripts/40_single-cell-sorted-cd8/40_gex_surface_prot/28012026/results"
params.sample_sheet = "/data/scratch/kvalem/projects/2021/honda_microbial_metabolites_2021/20_scripts/40_single-cell-sorted-cd8/40_gex_surface_prot/28012026/run_gsea/tables/cd8_all_effector_ctrl/samplesheet.csv"
params.raw_counts = "/data/scratch/kvalem/projects/2021/honda_microbial_metabolites_2021/20_scripts/40_single-cell-sorted-cd8/40_gex_surface_prot/28012026/run_gsea/tables/cd8_all_effector_ctrl/counts_matrix.tsv"
params.goi = "/data/scratch/kvalem/projects/2021/honda_microbial_metabolites_2021/20_scripts/40_single-cell-sorted-cd8/40_gex_surface_prot/28012026/run_gsea/deseq2icbi/genes_of_interest.txt"
params.gtf = "/data/genomes/mm10/annotation/gencode/gencode.vM25.primary_assembly.annotation.gtf.gz"
params.organism = "mouse"
params.sample_col = "sample_id"
params.paired_grp = ""
params.remove_batch_effect = false
params.batch_col =  ""
params.covariate_formula = ""
params.ext_opt = ""
params.cite_packages = ["DESeq2", "IHW", "clusterProfiler", "topGO", "ReactomePA", "EnhancedVolcano", "AnnotationDbi", "base"]
params.contrasts = [
                    ["TEST": "effector_ICI", "REF": "ctrl_ICI"],
                   ]

process {
    withName: de_analysis {
        memory = 32.GB
        """
    }

    withName: generate_report {
        clusterOptions = '--gres=cputype:XG6342'
        """
    }
}
